body {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
  background-color: #f5deb33d !important;
}

.container-fluid .logo {
  text-shadow: 3px 3px 5px #ff0000, 5px 5px 5px blue;
  font-family: Merriweather;
}

.navbar {
  background-color: #128c7e;
}

.collapse ul li {
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 900;
}

.nav-item a {
  color: red;
  text-shadow: 3px 3px 5px blue, 5px 5px 5px greenyellow;
  font-family: handlee;
}

.col-lg-6 {
  text-align: center;
}

.first-col {
  padding-top: 5%;
}

.first-col h1 {
  font-weight: 200;
  font-family: lobster;
  font-size: 3.3rem;
}

.first-col h3 {
  font-family: handlee;
  font-weight: 700;
}

.first-col .marvel-name {
  font-family: Merriweather;
  text-shadow: 6px 6px 10px #ff0000, 10px 10px 10px blue;
  font-size: 3.5rem;
  line-height: 10rem;
}

.marvel-logo-img-bg {
  position: absolute;
  left: 10rem;
  top: 18.3rem;
  z-index: -1;
}

.section-3 {
  padding: 0 3%;
}

.side-img {
  width: 340px;
  height: 10;
}

.section-2 {
  margin: 0 auto;
  padding: 5% 5%;
  padding-left: 7.5%;
  background-color: #128c7e;
}

.card img {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  padding-top: 4%;
  filter: drop-shadow(3px 3px 3px #000);
  -webkit-filter: drop-shadow(3px 3px 3px #000);
}

.card-body h3 {
  font-family: merriweather;
}

.card-body p {
  font-family: handlee;
  font-weight: 600;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 5px 5px black;
  -moz-box-shadow: 0px 0px 5px 5px black;
  box-shadow: 0px 0px 5px 5px black;
  transition: ease-out 0.8s;
  -webkit-transition: ease-out 0.8s;
  -moz-transition: ease-out 0.8s;
  -ms-transition: ease-out 0.8s;
  -o-transition: ease-out 0.8s;
}

.card {
  scroll-snap-align: start;
}

.card-body a:hover {
  font-weight: 500;
  background-color: red !important;
  border: none;
  box-shadow: 2px 2px 5px blue;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.event-heading {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-family: merriweather;
  color: blue;
  text-shadow: 2px 2px 5px red;
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-footer {
  padding-top: 2%;
  background-color: #128c7e;
  color: white;
}
.soc-item {
  display: inline-block;
  margin: 0 0.1rem 0.2rem 0.1rem;
  padding: 3px 2px 0 2px;
  border: 2px solid #f9e2af;
}

.soc-item:hover {
  background-color: #f9e1afad;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-bottom: -0.1rem;
}

@media only screen and (max-width: 576px) {
  .section-2 {
    margin: 0 auto;
    padding: 5% 20%;
  }

  .first-col h1 {
    font-weight: 200;
    font-family: lobster;
    font-size: 2.5rem;
  }

  .card {
    margin-bottom: 5%;
  }

  .event-cards {
    padding: auto;
    text-align: center;
  }

  .first-col h3 {
    font-family: handlee;
    font-weight: 700;
    font-size: 2rem;
  }

  .marvel-logo-img-bg {
    position: absolute;
    left: 10rem;
    top: 18.3rem;
    z-index: -1;
    display: none;
  }

  .first-col .marvel-name {
    font-family: Merriweather;
    text-shadow: 6px 6px 10px #ff0000, 10px 10px 10px blue;
    font-size: 2rem;
    line-height: 5rem;
  }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
  .section-2 {
    margin: 0 auto;
    padding: 5% 35%;
  }

  .card {
    margin-bottom: 5%;
  }

  .first-col h1 {
    font-weight: 200;
    font-family: lobster;
    font-size: 3rem;
  }

  .section-3 {
    font-size: 1rem;
  }

  .first-col h3 {
    font-family: handlee;
    font-weight: 700;
    font-size: 3rem;
  }

  .marvel-logo-img-bg {
    position: absolute;
    left: 18rem;
    top: 13rem;
    z-index: -1;
    display: none;
  }

  .first-col .marvel-name {
    font-family: Merriweather;
    text-shadow: 6px 6px 10px #ff0000, 10px 10px 10px blue;
    font-size: 3.5rem;
    line-height: 10rem;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .blast-img {
    width: 100px;
    position: absolute;
    left: 7rem;
    top: -1px;
    z-index: -1;
  }

  .section-2 {
    margin: 0 auto;
    padding: 1% 1%;
  }

  .card {
    margin-bottom: 5%;
  }

  .first-col h1 {
    font-weight: 200;
    font-family: lobster;
    font-size: 3rem;
  }

  .section-3 {
    font-size: 1rem;
  }

  .first-col h3 {
    font-family: handlee;
    font-weight: 700;
    font-size: 3rem;
  }

  .marvel-logo-img-bg {
    position: absolute;
    left: 18rem;
    top: 13rem;
    z-index: -1;
    display: none;
  }

  .first-col .marvel-name {
    font-family: Merriweather;
    text-shadow: 6px 6px 10px #ff0000, 10px 10px 10px blue;
    font-size: 3.5rem;
    line-height: 10rem;
  }
}
